/* Basic CSS syntax, selector {property: value;} */

body {
    background-color: #EAF6F6;
}

/* Everything on the webpage is just a whole bunch of boxes! */
hr {
    border-style: dotted none none;
    height: 0px;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #66bfbf;
}

h3 {
    color: #66bfbf;
}

/* In general, more specific styling overwrites the general ones */
/* Classes vs IDs
    We can have only one instance of an ID, but multiple elements in a class
*/

/* Above use tag selectors, we can use class selectors if we specified
class to those elements */

/* .class-name {
    property: value;
} */

/* We can also use ID selectors */
/* #id-name {
    property: value;
} */